<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inbook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>333F33701D7AB853005CF88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>333F33841D7AB854005CF88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>333F338F1D7AB854005CF88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
